<header class="surface-section py-3 shadow-2">
  <div class="container flex flex-wrap align-items-center justify-content-between">
    <div class="flex align-items-center">
      <button class="p-button p-button-rounded p-button-text mr-2" (click)="toggleSidebar()">
        <i class="pi pi-bars text-xl"></i>
      </button>
      <img src="assets/images/companyIcon.png" id="companyIcon" alt="Company Logo" class="mr-2">

    </div>

    <div class="hidden md:flex">
      <h4 class="m-0 text-xl">Hi, Username123</h4>
    </div>

    <div class="flex align-items-center">
      <i class="pi pi-bell text-xl mr-4 cursor-pointer" (click)="notificationOpen()"></i>
      <div appendTo="body" class="dropdown-notification" *ngIf="isnotification">
        <p class="text-center">There's no new notification for you !</p>
      </div>
      <i class="pi pi-comments text-xl mr-4 cursor-pointer"></i>
      <i class="pi pi-user text-xl cursor-pointer" (click)="dropdownOpen()"></i>
      <div appendTo="body" class="dropdown" *ngIf="isdropdownOpen">
        <ul>
          <li>Settings</li>
          <li>Contact Us</li>
          <li><a href="https://scholarcred.com/index.php"><img src="assets/images/title-removebg-preview.png"
                alt="to_officialScholarCred" width="100px"></a></li>
          <li style="color: red;">Sign Out</li>
        </ul>
      </div>
    </div>
  </div>
</header>