.footer {
    background-color: #00A6D9;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-left p {
    margin: 0;
    font-size: 14px;
}

.footer-right p {
    margin: 0;
    font-size: 14px;
}

.footer-right strong {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        margin-bottom: 10px;
    }
}