<div class="parent">
    <div>
        CHANNEL-OVERVIEW
    </div>
    <div class="content-parent">
        <div class="left-div">
            <p-chart type="bar" class="chart" [data]="data" [options]="options" style="height:20rem"></p-chart>
        </div>
        <div class="right-div">
            <div class="donut-chart-container">
                <!-- <p-chart type="doughnut" [data]="donutdata" [options]="dnutoptions" /> -->
                <p-chart type="pie" [data]="donutdata" [options]="dnutoptions" />
            </div>
        </div>
    </div>
</div>