<div class="root-div">
  <div class="header-container">
    <header class="header">
      <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
    </header>
  </div>
  <div class="layout-container">
    <div class="content-area">
      <aside class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
        <app-sidebar [isSidebarOpen]="isSidebarOpen" [isMobileView]="isMobileView" >
        </app-sidebar>
      </aside>

      <main class="main-content"  (click)="isSidebarOpen = false" [ngClass]="{'content-shifted': isSidebarOpen}">
        <app-staff-perf></app-staff-perf>
        <app-channel-overview></app-channel-overview>
        <app-accounts-overview></app-accounts-overview>
        <footer class="footer">
          <app-footer></app-footer>
        </footer>
      </main>
    </div>
  </div>
</div>
