<p-table [value]="products" [tableStyle]="{'min-width': '50rem'}" class="styled-table">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 15%">#</th>
            <th style="width: 15%">Counselling Ongoing</th>
            <th style="width: 15%">Identified University</th>
            <th style="width: 15%">Applied to University</th>
            <th style="width: 15%">Offer Letter Received</th>
            <th style="width: 10%">Financing</th>
            <th style="width: 10%">Fee Payment Completed</th>
            <th style="width: 10%">Visa Approved</th>
            <th style="width: 10%">Deferred Students</th>
            <th style="width: 10%">Dropped/In-Active Students</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><img src={{product.img}} alt="" width="40px"></td>
            <td>{{ product.counsellingOngoing }}</td>
            <td>{{ product.identifiedUniversity }}</td>
            <td>{{ product.appliedToUniversity }}</td>
            <td ><p [ngClass]="{
                'text-green': product.offerLetterReceived === 'Received',
                'text-blue': product.offerLetterReceived === 'Pending',
                'text-red': product.offerLetterReceived === 'Rejected'
            }">{{ product.offerLetterReceived }}</p></td>
            <td>{{ product.financing }}</td>
            <td>{{ product.feePaymentCompleted }}</td>
            <td><p-tag [value]="product.visaApproved" [severity]="getSeverity(product.visaApproved)"></p-tag></td>
            <td>{{ product.deferredStudents }}</td>
            <td>{{ product.droppedStudents }}</td>
        </tr>
    </ng-template>
</p-table>